modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
SUPABASE_URL = "https://gwveepfrzucmebwwulvz.supabase.co"
SUPABASE_SERVICE_ROLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd3dmVlcGZyenVjbWVid3d1bHZ6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg5MjE1MTIsImV4cCI6MjA4NDQ5NzUxMn0.CZ3HPuy-G3_G9Fkix-pFtxXJ3weO23q_WGaIF9bDxRk"
SUPABASE_DB_URL = "postgresql://postgres:[sahana@doddamani83]@db.gwveepfrzucmebwwulvz.supabase.co:5432/postgres"
